@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

html {
  background: linear-gradient(90deg, #819A91, #A7C1A8);
  color:#F2F2F2;
  padding: 30px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 600px;
  min-height: 400px;

  background-color: #EEEFE0;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 15px 40px rgba(0, 0, 0, 0.2);

  margin: 30px;
  color: #5A827E;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

h1 {
  font-family: 'Chivo';
  font-weight: 900;
  font-size: 100px;
  text-align: center;
  margin: 30px;
}

em, p, strong {
  font-family: 'Cambo';
  font-size: 25px;
}

strong {
  font-weight: bolder;
}

img {
  height: 300px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 30px;

  margin-top: 30px;
}

button {
  border: none;
  background-color: #5A827E;
  color: #EEEFE0;
  font-size: x-large;

  padding: 30px;

  border-radius: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 15px 40px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #66988d;
  transition: background-color 0.8s ease;
}

.flip-card-container {
  perspective: 1000px;
  color:#5A827E;
  font-size: x-large;
}

.flip-card {
  position: relative;
  width: 600px;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  cursor: pointer;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  min-height: 400px;
  background: linear-gradient(180deg, #EEEFE0, #d6d4cb);
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 15px 40px rgba(0, 0, 0, 0.2);
}

.flip-card-back {
  transform: rotateY(180deg);
}